/* styles.module.css */

@keyframes glow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* styles.module.css */
/* styles.module.css */

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateX(-100%); /* Start from the left edge */
  }
  100% {
    transform: translateX(100%); /* Move to the right edge */
  }
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.star {
  width: 50px;
  position: absolute;
  animation: glow 2s ease-in-out infinite;
}

.cloud {
  width: 150px;
  position: absolute;
  animation: appear 3s ease-in-out, float 15s linear infinite; /* Adjust the duration for the full width */
  animation-fill-mode: forwards;
  transform-origin: left;
}

/* Create a reverse animation for clouds */
.cloud.reverse {
  animation: appear 3s ease-in-out reverse, float 15s linear infinite; /* Reverse animation without a return to the beginning */
  animation-fill-mode: forwards;
  transform-origin: right; /* Start animation from the right edge */
}

/* Apply the same animation to cloud1 */
.cloud1 {
  width: 150px;
  position: absolute;
  animation: appear 3s ease-in-out, float 15s linear infinite; /* Adjust the duration for the full width */
  animation-fill-mode: forwards;
  transform-origin: left;
}

/* Create a reverse animation for cloud1 */
.cloud1.reverse {
  animation: appear 3s ease-in-out reverse, float 15s linear infinite; /* Reverse animation without a return to the beginning */
  animation-fill-mode: forwards;
  transform-origin: right; /* Start animation from the right edge */
}

.textOverlay {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10; /* Make sure the text is on top of the animation */
}

.textOverlay h1 {
  font-size: 35px;
  color: #fff;

}

.textOverlay p {
  font-size: 32px;
  color: #fff;
  background-color: #471E70;
  border-radius: 30px;
  padding: 5px;
}
.audioControls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.audioControlButton {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
}
.customButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  /* Додайте інші стилі, які вам потрібні */
}
.disabledAnimation {
  animation: none;
}
.subtitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  z-index: 9999;
}
.fadeIn {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  margin-top: 300px;
  

}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}


