body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #6100C2, #CA95FF);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoImage {
    max-width: 700px; /* Розмір вашого логотипу */
    opacity: 0; /* Початковий стан прозорості */
    filter: blur(10px); /* Початковий стан розмитості */
    animation: fadeIn 2s ease-in-out forwards, blurIn 2s ease-in-out forwards;
}

.companyName{
    font-size: 64px; /* Розмір тексту */
    font-family: 'Inter', sans-serif; /* Встановлення шрифту Inter Regular */
    font-weight: 300;
    color: #fff;
    margin-top: 20px;
    opacity: 0; /* Початковий стан прозорості */
    animation: fadeIn 2s ease-in-out 3s forwards;
    letter-spacing: 5px;
}

/* Определение анимации появления (fadeIn) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Определение анимации размытия (blurIn) */
@keyframes blurIn {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}
