.bodyBlock{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #6100C2, #CA95FF); 
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
.chat p{
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.searchApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
  }
.searchContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    background: white;
    width: 800px; /* Розмір контейнера, змініть на потрібний */
    height: 30px;
    justify-content: center;
  }
  
  .searchIcon {
    width: 40px; /* Ширина іконки */
    height: auto;
    margin: 0 10px; /* Відступи навколо іконки, змініть на потрібні */
  }
  
  .searchInput {
    flex: 1;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #000; /* Колір тексту, змініть на потрібний */
  }
  .noneSMS{
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-top: 40px;
  }

  .userSMS{
    width: 800px;
    height: 100px;
    justify-content: center;
    margin-left: 370px;
    background-color: #471E70;
    border-radius: 20px;
    margin-top: 20px;
  }
.userBlock{
    display: flex;
    margin-left: 20px;
}
.userInfo{
    margin-left: 90px;
    font-size: 25px;
}
.userName{
    color: white;
}
.userEndSMS {
    margin-top: 10px;
    color: #D1D1D1;
}
.smsData{
    margin-left: 390px;
    color: #D1D1D1;
}
.searchResults{
 
  width: 700px; /* Розмір контейнера, змініть на потрібний */
  
  border-top: none;
  border-radius: 0 0 5px 5px;
}
.result {
  padding: 10px;
  cursor: pointer;
}
.result:hover {
  background-color: #f9f9f9;
}
.chatWindow{
  background-color: #471E70;
  width: 500px;
  height: 100px;
  margin-left: 500px;
  cursor: pointer;
}
.chatsContainer {
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.signleChatContainer {
  background-color: white;
  user-select: none;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 10px;
  width: 100%;
  margin-bottom: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.signleChatContainer:hover {
  background-color: #e0e0e0; 
}

.signleChatContainer > div {
  margin-bottom: 5px;
  font-weight: bold;
}