/* styles.module.css */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #6100C2, #CA95FF);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oval {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #471E70;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
  }
  
  .textContainer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .welcomeText {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .subtext {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #fff;
    margin-bottom: 45px;
  }
  
  .startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    background: linear-gradient(90deg, #6100C2, #CA95FF);
    color: #fff;
    height: 70px;
    width: 220px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  
  .startButton:hover {
    background: linear-gradient(90deg, #1F1628, #6D4C8F);
  }
  
  .accountText {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 25px;
  }
  
  .accountText a {
    color: #A3A3A3;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .accountText a:hover {
    color: #FFFFFF;
  }
  
  .topImage {
    max-width: 30%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  @media (max-width: 768px) {
    .oval {
      height: 250px;
    }
  
    .welcomeText {
      font-size: 28px;
    }
  
    .subtext {
      font-size: 20px;
      margin-bottom: 25px;
    }
  
    .startButton {
      font-size: 24px;
      height: 50px;
      width: 180px;
    }
  
    .topImage {
      max-width: 100%;
      height: auto;
      z-index: 1;
    }
  }
  