/* YourComponent.css */
.bodyBlock{
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(90deg, #6100C2, #CA95FF);
  
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  
  .oval {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #471E70;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
  }
  
  .centered–°ontent {
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
  .centeredContent p {
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 40px;
    margin-left: 280px;
    margin-right: 280px;
    text-align: center;
  }
  img {
    max-width: 560px; 
    position: relative;
  }
  .centeredImageContainer {
    display: flex;
    justify-content: center; 
    margin-top: 0px; 
    margin-right: 90px;
  }
  .centeredButtonContainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .startButton {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    background: linear-gradient(90deg, #6100C2, #CA95FF);
    color: #fff;
    height: 70px;
    width: 220px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .startButton:hover {
    background: linear-gradient(90deg, #1F1628, #6D4C8F);
  }
  