body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #6100C2, #CA95FF);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

