body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(90deg, #6100C2, #CA95FF);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.sideText {
    position: absolute;
    top: 2px; 
    left: 203px; 
    color: #fff; 
    font-size: 18px; 
}
.sideText p{
    font-family: 'Inter', sans-serif;
    font-size: 25px; 
}
.textNext{
    margin-top: -20px;
    margin-left: 40px;
}
.program{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px; 
    padding-left: 20px;
    border-radius: 15px;
    
    width: 920px;
    height: 100px;
}
.programnext{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #62259F;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px; 
    padding-left: 20px; 
    border-radius: 15px;
    border: 2px solid #FFF;
    width: 420px;
    height: 100px;
}

.forward{
    margin-left: 30px;
}


.mainImg {
    position: relative;
    top: -50px; 
    right: -120px; 
    width: 550px; 
}
.accessible{
    display: flex;
    align-items: center;
    margin-top: 50px;
   
}

.all {
    position: absolute;
    left: 1100px; 
    color: #828181;   
}

.blocksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    margin-top: 20px;   
    margin-left: 0px;
}
.blockContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    margin-top: 20px;   
    margin-left: 0px;
}


.accessible2 {
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

.all2 {
    position: absolute;
    color: #828181;
    left: 1100px; 
    
}

.blockCommon {
    position: relative;
    width: 250px; 
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #6225A0; 
    border-radius: 20px; 
    overflow: hidden; 
    text-align: center;
}

.blockCommon img {
    width: 100%; 
    height: auto;
}

.blockCommon p {
    padding: 10px;
    text-align: center; 
    color: #fff; 
    background-color: #62259F; 
    margin: 0; 
    font-size: 25px;
    bottom: 0; 
    width: 100%;
    text-align: center;
}
